<div class="row">
  <div class="col-md-12">
    <ul class="list">
      <li class="card text-white bg-light mb-3">
        <a routerLink="formEvent">formEvent</a>
      </li>
      <li class="card text-white bg-light mb-3">
        <a routerLink="interval">Interval</a>
      </li>
      <li class="card text-white bg-light mb-3">
        <a routerLink="ofFrom">of-from</a>
      </li>
      <li class="card text-white bg-light mb-3">
        <a routerLink="toArray">to-Array</a>
      </li>
      <li class="card text-white bg-light mb-3">
        <a routerLink="custom">custom-Observable</a>
      </li>
    </ul>
  </div>
</div>
