<div class="my-3">
  <h2>Of-from</h2>
  <br>
  <strong>Example 1 (OF)</strong>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data: </strong> of ('Umang', 'Kushal', 'Anshu','Kamal')
      </p>
      <ul id="elContainer1"></ul>
    </div>
    <div class="col-md-6">
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data: </strong> of ( &#123; a: 'Umang', b: 'Kushal', c: 'Anshu', d: 'Kamal' &#125; )
      </p>
      <ul id="elContainer2">
        <li>{{obsMsg.a}}</li>
        <li>{{obsMsg.b}}</li>
        <li>{{obsMsg.c}}</li>
        <li>{{obsMsg.d}}</li>
      </ul>

    </div>
  </div>
  <br>
  <br>

  <strong>Example 2 (FROM)</strong>
  <hr>

  <div class="row">
    <div class="col-md-4">
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Array</strong> from (['Umang', 'Kushal', 'Anshu','Kamal'])
      </p>
      <ul id="elContainer3"></ul>
    </div>
  </div>
</div>
