/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

ul.techList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.techList li {
  background: #f8f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 7px 11px;
  margin-bottom: 10px;
}

ul.techList.error li {
  color: red;
  background: #ff00001f;
  border-color: red;
}

ul.techList.completed li {
  color: #3dd843;
  background: #0080002e;
  border-color: green;
}
