<div class="my-3">
  <h2>Map-operator</h2>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4">
      <strong>
        Ex -01
      </strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Map: 'Video'+ data</strong>
        Map Data
      </p>
      <br>
      <p>Message: <strong class="text-success">{{msg1}}</strong></p>
    </div>
    <div class="col-md-4">
      <strong>
        Ex -02
      </strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Map: data * 2</strong>
        Map Data
      </p>
      <br>
      <p>Message: <strong class="text-success">{{msg2}}</strong></p>
    </div>
    <div class="col-md-4">
      <strong>
        Ex -03
      </strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Map: map object data </strong>
        Map Data
      </p>
      <br>
      <ul id="elcontainer">

      </ul>
    </div>
  </div>

</div>
